{erl_opts, [no_debug_info]}.
{deps, [
        {eflame, ".*", {git, "https://github.com/slfritchie/eflame.git", {branch, "master"}}}
]}.

{escript_incl_apps,
 [eflame_wrapper]}.
{escript_top_level_app, eflame_wrapper}.
{escript_name, eflame_wrapper}.
{escript_shebang, "#!/usr/bin/env escript\n"}.

{provider_hooks, [{post, [{compile, escriptize}]}]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
